
h1 {
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	font-weight: 400; 
	letter-spacing: 1px;
	color: #0D2C40; 
	text-transform: uppercase;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #0D2C40;
	letter-spacing: 1px;
	text-transform: uppercase;

}

p {
font-family: "Droid Serif", serif;
}
a {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: 1px; 
	font-weight: 600; 
	font-size: 18px; 
	text-transform: uppercase;
}
body {
text-align: center;
}